body{
    
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    background-color: bisque;
}
header{
    
    background-position: left;
    padding: 50px;
    background-color: greenyellow;
    text-align: center;
    
}
button{
    text-align: center;
   background-color: greenyellow;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.row{
    background-color: blue;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 0 auto;
    margin-left: 40%;

}

.www{
    width: 80%;
}

.mid-img {
    width: 20%;
    height: 50%;
    display: block;
    margin: 0 auto;
  }

  .margen{
    width:15%;
   height:15%;
   border:3px solid brown;
   margin: 0 auto;
  }

  tr{
    border: 3px solid brown;;
  }
  table {
    border-collapse: collapse;
  }
  
  th, td {
    border: 1px solid black;
    padding: 8px;
  }